<app-navbar> </app-navbar>
<div id="sigin" class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-svg" src="../../../../assets/code_review.svg" alt="">
        </div>
        <div class="col-md-6">
            <h1 class="display-title-red text-center text-black">Sign-In</h1>
            <div class="row justify-content-center">
                <form class="form-group col-md-10">
                    <div class="form-group">
                        <input class="form-control" placeholder="your@email.com" required type="email" name="email"
                            id="email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" required placeholder="*******" name="password"
                            id="password">
                    </div>
                    <button class="btn btn-outline-primary float-right col-md-4">Sign-In</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="m-0">
    <app-footer> </app-footer>
</div>