#home a {
    text-decoration: none;
    color: #F50057;
}

.bottom-img {
    width: 100%;
}

#features {
    height: 80vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.img-svg {
    width: 100vw;
}

.profile-img {
    width: 50%;
    border-radius: 20px;
}

#social .fa {
    font-size: 45px;
    color: #000;
    text-decoration: none;
}

#social .fa:hover {
    color: #F50057;
}