<app-navbar> </app-navbar>
<div class="m-0">
    <div id="home" class="pt-2 m-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="pt-2">
                        <p class="display-4">Contacts Web Manager</p>
                        <p class="lead">Subscribe for free and get started saving your contacts here or make your own
                            App with the <a href="">Spring Boot API able on Github</a> </p>
                    </div>
                    <button class="btn btn-outline-primary">Get started!</button>
                </div>
                <div class="col-md-6 pt-5">
                    <img class="bottom-img" src="../../../assets/online_friends.svg" alt="">
                </div>
            </div>
        </div>

        <img class="img-svg" src="../../../assets/wave.svg" alt="">

        <div id="features" class="bg-primary-red text-center ">

            <h1 class="display-title">Features</h1>

            <div class="row justify-content-center text-center pb-5">
                <div class="col-md-4 p-5">
                    <p class=""><i class="fa fa-briefcase"></i></p>
                    <h4 class="text-white">Management</h4>
                    <p class="lead">DevContact let you manage your contacts as you need with the basics CRUD operations.
                    </p>
                </div>
                <div class="col-md-4 p-5">
                    <p class=""><i class="fa fa-cogs"></i></p>
                    <h4 class="text-white">RESTful API</h4>
                    <p class="lead">A RESTful API with faster and powerful responses in every single request.
                    </p>
                </div>
                <div class="col-md-4 p-5">
                    <p class=""><i class="fa fa-database"></i></p>
                    <h4 class="text-white">Relational Data</h4>
                    <p class="lead">Saving your data and maintening the best intengrity with Spring Security, Spring Data and PostgreSQL.
                    </p>
                </div>
            </div>
            <span class="pb-5"></span>
        </div>

    </div>

</div>
<app-footer> </app-footer>