<app-navbar> </app-navbar>
<div id="sigin" class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <img class="img-svg" src="../../../../assets/signin.svg" alt="">
        </div>
        <div class="col-md-6">
            <h1 class="display-title-red text-center text-black">Sign-In</h1>
            <div class="row justify-content-center">
                <p *ngIf="isCredentialsInvalid" class="text-red animated shake">Invalid credentials...</p>
                <p *ngIf="exitsErrorOnResponse" class="text-red animated shake">An error occured, please <a
                        href="http://devlegnd.com" class="text-black">contact me!</a></p>
                <form [formGroup]="signinForm" class="form-group col-md-10">
                    <div class="form-group">
                        <input formControlName="email" class="form-control" placeholder="your@email.com" required
                            type="email" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <input formControlName="password" class="form-control" type="password" required
                            placeholder="*******" name="password" id="password">
                    </div>
                    <button (click)="onSignIn()" [disabled]="!signinForm.valid"
                        class="btn btn-outline-primary float-right col-md-4">Sign-In</button>
                </form>
            </div>
            <div class="text-center p-3">
                <h3 class="lead">Don't have an account? <a routerLink="/auth/signup" target="_blank">Create one!</a>
                </h3>
            </div>
        </div>

    </div>
</div>
<div class="m-0">
    <app-footer> </app-footer>
</div>